.btn {
    margin-top: 0%;
}

.container{
    margin-top: 8%;
}

.btn-box {
    margin-top: 0%;
}

.btn{
    margin-top: 5%;
    background-color: brown;
    color: whitesmoke;
    font-size: larger;
}

